.cookies {
    width: 100%;
    background-color: black;
    color: white;
    line-height: 2rem;
    font-size: 1.4rem;
    font-family: "Roboto", sans-serif;
    
    &__text {
        width: 70%;
        text-align: justify;
        padding: .5rem;
    }

    &__close {
        width: 30%;
        position: absolute;
        top: .5rem;
        right: .5rem;
        padding: .5rem;
        text-align: right;
    }
    
    &__close a {
        text-decoration: none;
        color: inherit;
    
    }
    
    &__close a:hover {
        color: red;
    }

    @media screen and (min-width: 768px) {
        .cookies__text {
            width: 90%;
            text-align: center;
        }
    }
    @media screen and (min-width: 768px) {
        .cookies__close {
            width: 10%;
        }
    }
}



