.site-body {
    &__social {
        position: fixed;
        left: -135px;
        bottom: 15%;
    }

    &__cookies {
        display: none;
        position: fixed;
        bottom: 0;
        right: 0;
        line-height: 2rem;
        padding: .5rem;
    }
}